@model LockaiMvc.Models.ObjetoViewModel

@{
    ViewData["Title"] = "Registrar Objeto";
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["MensagemErro"]
    </div>
}

<h2>Criação de Novos Objetos</h2>
<hr />

@using (Html.BeginForm("ListarObjetos", "Objeto", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    
        <br />
        <input type="submit" value="Registrar" class="btn btn-primary" />
        
        @Html.ActionLink("Retornar", "Index", "Home", null, new { @class = "btn btn-warning" })
    
}